*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: solid 2px black;
}

#display {
    width: 80%;
    height: 48px;
    border: solid blue 2px;
    font-size: 36px;
    overflow: hidden;
    text-align: right;
}

.buttons {
    margin-top: 16px;
    border: solid black 4px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 32px;
    height: 22px;
    flex: 1;
    font-size: larger;
}